# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
**/venv
**/.vscode
**/__pycache__
src/app/coding/essay_fixer/EssayModifierTest/model_src/gemma-2b/
src/app/coding/essay_fixer/EssayModifierTest/model_src/gemma-7b/
src/app/coding/essay_fixer/EssayModifierTest/hf_token.txt
